body {
  display: flex;
  margin-top: 5vh; /* Using vh for vertical relative sizing */
  justify-content: center;
  background-color: #FFFCFF;
}

button {
  width: 10vw; /* Relative to viewport width */
  cursor: pointer;
  box-shadow: 0px 0px 0.2vw gray;
  border: none;
  outline: none;
  padding: 0.5vw; /* Using relative padding */
  border-radius: 0.5vw;
  color: white;
}

#header {
  padding: 1vw;
  color: #d36c6c;
  font-size: 2.6vw; /* Relative font size */
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: #92a1d1;
}

#container {
  width: 100%; /* Relative width */
}

#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
  font-size: 2vw;
}

#weekdays div {
  width: calc(100% / 7 - 1.03%); /* Adjusted width for 7 days per row, accounting for margins */
  padding: 1vw; /* Using relative padding */
}

#calendar {
  width: 100%;
  margin: 0.825%; /* Maintains the relative margin */
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7 - 1.03%); /* Adjusted width for 7 days per row, accounting for margins */
  padding: 1vw;
  height: 12vw; /* Adjusted height to be proportional */
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 0.515%;
  box-shadow: 0px 0px 0.3vw #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 1vw;
  padding: 0.3vw;
  background-color: #58bae4;
  color: white;
  border-radius: 0.5vw;
  max-height: 5.5vw; /* Relative max height */
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 2.5vw;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 0.3vw black;
  border-radius: 0.5vw;
  width: 35vw;
  top: 10vh; /* Positioning relative to viewport */
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2.5vw;
  border-radius: 0.3vw;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0.3vw gray;
}

#eventTitleInput.error {
  border: 0.2vw solid red;
}

#cancelButton, #deleteButton {
  background-color: #d36c6c;
}

#saveButton, #closeButton {
  background-color: #92a1d1;
}

#eventText {
  font-size: 1.4vw;
}

#modalBackDrop {
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
