/* Slider container */
.slider {
    position: relative;
    margin-top: 20px;
    width: 1200px;
    height:800px;
    border-radius: 10px;
    overflow: hidden;
}
.slider input{
    display: none;
}

/* Wrapper for all the slides */
.slides {
    position: relative;
    width: 100%;
    height: 100%;
    /* justify-content: center; */

}

/* Each slide is positioned absolutely, initially hidden */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Make slides initially invisible */
    /* transition: opacity 2s ease-out, transform 0s ease-in; Opacity fades in slowly, scaling happens quickly */
}

/* Ensure images take up the full slide */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images maintain aspect ratio */

}

/* Navigation buttons at the bottom of the slider */
.navigation-auto {
    z-index: 100;
    position: absolute;
    display: flex;
    width: 100%; /* Allow navigation buttons to take full width */
    justify-content: center;
    bottom: 20px;               /* Adjust to position the navigation near the bottom */

}

/* Style for navigation buttons (labels) */
.navigation-auto label {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    margin: 0 5px; /* Space out buttons */
}

/* Spacing between navigation buttons */
.navigation-auto label:not(:last-child) {
    margin-right: 40px;
}

/* Show the first slide when radio1 is checked */
#radio1:checked ~ .slides .first {
    opacity: 1;
    z-index: 1;
}

/* Show the second slide when radio2 is checked */
#radio2:checked ~ .slides .slide:nth-of-type(2) {
    opacity: 1;
    z-index: 1;
}

/* Show the third slide when radio3 is checked */
#radio3:checked ~ .slides .slide:nth-of-type(3) {
    opacity: 1;
    z-index: 1;
}

/* Show the fourth slide when radio4 is checked */
#radio4:checked ~ .slides .slide:nth-of-type(4) {
    opacity: 1;
    z-index: 1;
}
