@import url(https://fonts.google.com/specimen/Poppins?query=poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.commentPrompt {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(45deg, #ffd105,#ffb283);


  }
.commentPrompt.active {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ffd105,#ffb283);
}
.commentPrompt .prompt{
    flex-direction: column;
    position: relative;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.05);
    
    /* resize prompt */
    max-width: 800px; /* Increase maximum width */
    /* max-height: 90vh; Increase maximum height while ensuring it fits on screen */
    width: 100%; /* Full width of the screen */
    height: 30vh;
     overflow-y: auto;/* Allow scrolling if content exceeds max height */
}
.commentPrompt .rating-box header{
    font-size: 22px;
    color: #dadada;
    font-weight: 500;
    margin-bottom:20px;
    text-align: center;
}
.commentPrompt .rating-box .stars{
    display:  flex;
    align-items: center;
    gap: 25px;
}
.commentPrompt .stars i{
    color: #e6e6e6;
    font-size: 25px;
    cursor:pointer;
    transition: color 0.2s ease;
}
.commentPrompt .stars i.active{
    color: #ff9c1a;
}
.commentPrompt #placeholder-input {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%; /* Full width of the container */
    height: 20vh;
    box-sizing: border-box; /* Include padding and border in width calculation */
    transition: border-color 0.3s; /* Smooth transition for focus */
}
.commentPrompt #placeholder-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

